.panel {
    padding: 0;
    overflow: hidden;
    background: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

.grid-item {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    background-color: var(--blue3);
    padding: .25em;
    border-radius: 1em;
}

.grid-item > * {
    flex: 0 0 0;
}

.grid-item > .namecont {
    flex-grow: 1;
}

.namecont, .linecont {
    display: flex;
    font-weight: bold;
    padding-right: .5em;
}

.namecont > span, .linecont > span {
    padding-left: .5em;
    flex: 0 0 0;
}

.namecont > span:first-child, .linecont > span {
    color: white;
}

.namecont > span:last-child, .linecont > span {
    flex-grow: 1;
}

.linecont > span {
    text-align: center;
    font-size: .75em;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.namecont > span:last-child {
    text-decoration: underline;
}

@media (min-width: 750px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 950px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
}