{
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 120,
    "trailingComma": "es5",
    "semi": true,
    "importOrderParserPlugins": ["typescript", "decorators"],
    "importOrder": [
        "^svelte(.*)$",
        "<THIRD_PARTY_MODULES>",
        "^@interactjs/interact",
        "^@interactjs",
        "^@(.*)$",
        "app.css$",
        "^\\$m/(.*)$",
        "^\\$l/(.*).js$",
        "^\\$l/(.*).svelte$",
        "^[./](.*).js$",
        "^[./](.*).svelte$"
    ],
    "importOrderSeparation": false,
    "importOrderSortSpecifiers": true
}
