<%- include("../partials/header", {"title": "Rules &bull; How To Play", "styles": ["faq"]}); %>

<div class="content">
    <div class="panel">
        <div class="panel-inner">
            <h4>Base Rules</h4>
            To get an overview of the base rules, <a href="https://llsic-en.carrd.co/">Your Sinclair has translated the
                official rule sheet here</a>.<br>
            This rule sheet is enough to start trying out the game - the following parts are just further details!
        </div>
    </div>
    <div class="panel">
        <div class="panel-inner">
            <h4>Rule Options</h4>
            These are additions to the base rules of SIC. When playing casually with others, you should talk it out to
            make sure everyone is on the same page regarding these, while they're usually already decided by the
            organizers at events or tournaments.

            <div class="paragraph" id="option_cost">
                <h5>Star Rule</h5>
                All Member cards have a Cost, from 0 Stars to 3 Stars, depending on their rarity.<br>
                You can set an upper limit on the total Cost of a Deck, so everyone can build more balanced Decks. The
                recommended Cost limit is 20 Stars.<br>
                <br>
                If you want a simpler game, you can reduce the limit to something like 10 Stars. Of course, you can use
                any number you want as the limit, or even remove it and play with no Cost limit.
            </div>
            <div class="paragraph" id="option_birthday">
                <h5>Birthday Bonus</h5>
                Some Member cards have Birthday Bonus Pieces in their profile.<br>
                If the game is taking place in the same month as that Member's birthday, you can add these Bonus Pieces
                to the card's base Pieces. (For example, if the Member's birthday is August 3rd, the Bonus Pieces can be
                used in all games being played in August.)<br>
                <br>
                "Same month" is the recommended condition, but you can change this rule to only apply on the same day,
                or leave Birthday Bonuses out completely. These are of course not the only possibilities, feel free to
                get creative - for example, at the start of a match, every player could choose one Member to get the
                Birthday Bonus for that match.
            </div>
            <div class="paragraph" id="option_goal">
                <h5>Live Points Goal</h5>
                This game is balanced around a goal of 9 Live Points, which is the recommended target.<br>
                However, if you want to play longer games, you can also increase the Live Points Target, or if you want
                to play more, shorter games, lower it.<br>
                <br>
                If you are setting a very high Live Points Target, please be careful and make sure that every player's
                Set List actually has enough Base Live Points to reach the target.<br>
                <br>
                You can also try completely different rules - like setting a turn limit instead of a point target, and
                seeing who has the most Live Points at the end.
            </div>
            <div class="paragraph" id="option_sleeving">
                <h5>Sleeving</h5>
                Since the cards have illustrations on their back, it is recommended to use card sleeves when playing to
                hide the back, so other players can't see what cards you have on your hand, and you can't see what you
                will draw next. SIC cards come with sleeves to put them in. Of course, you can use any card sleeve you
                like!<br>
                It is recommended to use one unified sleeve for the cards in the Deck and one unified sleeve for the
                cards in the Set List. This will make the game easier to play.<br>
                <br>
                If you bought a Trial Deck, those cards come without an illustration on the back, but with a unified
                design instead. As long as you only use Trial Deck cards with the same design, these will not need
                sleeving.<br>
                While cards you bring into play from your Collection also do not need sleeving, they do require sleeving
                if they could be turned face-down at any point. If you plan to bring Member or Song cards from your
                Collection into play, it might be a good idea to sleeve them - they must have the same sleeving as your
                other cards of the same type.
            </div>
            <div class="paragraph" id="option_restriction">
                <h5>Character Restrictions</h5>
                An additional rule you can try is restricting the cards players can use - for example, allowing only 3rd
                Years, or even a single character. This can also be used as a handicap for those with larger collections
                when playing against others.
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-inner">
            <h4>Official Event Rules</h4>
            These are the recommended Deck Construction Restrictions and Rule Options from the SIC site, used for
            official events. These are simply guidelines, something to start off with - if all the players agree (or
            you're hosting an event and you're the one making the rules), you can do things differently.

            <div class="paragraph" id="official_options">
                <h5>Rule Options</h5>
                <ul>
                    <li>Live Points Goal: 9</li>
                    <li>Birthday Bonus: Yes, same month</li>
                    <li>Turn Order: clockwise, first player decided by Rock Paper Scissors</li>
                    <li>Sleeving: required, unified sleeve for Deck and Set List each (can be the same)</li>
                </ul>
            </div>
            <div class="paragraph" id="official_deck">
                <h5>Deck / Member Cards</h5>
                <ul>
                    <li>Your Deck must have at least 20 Member cards. (There is no maximum.)</li>
                    <li>You must not have more than four Member cards with the same ID in your Deck.</li>
                    <li>The total Cost of all cards must not exceed 20 Stars. (It doesn't have to be exactly 20
                        Stars.)
                    </li>
                </ul>
            </div>
            <div class="paragraph" id="official_setlist">
                <h5>Set List / Song Cards</h5>
                <ul>
                    <li>Your Set List must have at least 6 Song cards. (Again, no maximum.)</li>
                    <li>Every Song card in your Set List must have an unique ID.</li>
                </ul>
            </div>
            <div class="paragraph" id="official_collection">
                <h5>Collection</h5>
                Cards from your Collection you might look for during the game must be prepared and placed on the table
                you're playing on. While it is not your actual Collection, this prepared set is what is referred to as
                "Collection" during official events.
            </div>
            <div class="paragraph" id="official_banlist">
                <h5>Card Bans</h5>
                If you have a card from Set A in your Deck, Set List or Collection, you must not have any cards from Set
                B in your Deck, Set List or Collection.
                <div class="row">
                    <div class="six columns">
                        <b>Set A</b>
                        <ul>
                            <li><a href="/card/LL12-047/">LL12-047 "Riko Sakurauchi"</a></li>
                        </ul>
                    </div>
                    <div class="six columns">
                        <b>Set B</b>
                        <ul>
                            <li><a href="/card/LL13-064/">LL13-064 "µ's Holiday Stories Honoka Kousaka"</a></li>
                            <li><a href="/card/LL13-069/">LL13-069 "µ's Holiday Stories Maki Nishikino"</a></li>
                            <li><a href="/card/LL13-070/">LL13-070 "µ's Holiday Stories Nozomi Tojo"</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("../partials/footer", {"jquery": false, "scripts": []}); %>