</div>
<% if(jquery) { %>
<script src="/vendor/jquery/jquery.min.js"></script>
<% } %>
<% for(var i = 0; i < scripts.length; i++) { %>
<script src="/js/<%= scripts[i] %>.js"></script>
<% } %>
</body>
</html>