<a href="/set/<%= set %>/" class="grid-item">
        <div class="imgcont">
            <img src="/images/<%= set %>/set.jpg">
        </div>
    <div class="namecont">
        <span>▶</span><span><%= name %></span>
    </div>
</a>