<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%- title %> &bull; SIC</title>
    <meta name="description" content="">

    <link rel="stylesheet" href="/style/normalize.css">
    <link rel="stylesheet" href="/style/skeleton.css">
    <link rel="stylesheet" href="/style/style.css">

    <% for(var i = 0; i < styles.length; i++) { %>
    <link rel="stylesheet" href="/style/<%= styles[i] %>.css">
    <% } %>
</head>
<body>
<div class="container">