@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply overflow-y-scroll bg-background font-sans leading-5 text-text;
}

a:not(.button) {
	@apply text-link underline;

	&:focus,
	&:hover {
		@apply text-link-hover;
	}

	& *,
	& *::before {
		@apply underline decoration-link;
	}

	&:focus *,
	&:hover *,
	&:focus *::before,
	&:hover *::before {
		@apply decoration-link-hover;
	}
}

.cont {
	@apply mx-auto w-full max-w-screen-xl p-4;
}

.panel {
	@apply rounded-xl border-4 border-background-accent bg-background-panel;
}

.panel-inner {
	@apply overflow-hidden rounded-lg p-4 text-justify;
}

span.card-id {
	@apply font-bold text-text-cardid;
}

span.rarity {
	@apply font-bold text-text-rarity;
}

h1,
.header1 {
	@apply mb-4 w-full rounded-xl bg-background-accent py-1 pl-4 text-2xl font-bold uppercase tracking-widest text-text-header-frame;
}

h2 {
	@apply -mx-4 -mt-4 mb-3 bg-background-accent pb-0.5 pl-4 text-lg font-bold uppercase tracking-widest text-text-header-frame;
}

h3 {
	@apply text-lg font-bold tracking-wider text-text-header-intext [&:not(:first-child)]:mt-4;
}

h4 {
	@apply font-bold tracking-wider text-text-header-intext [&:not(:first-child)]:mt-4;
}

tr > th {
	@apply whitespace-nowrap;
}

.skill-icon {
	@apply relative inline-block h-[1.25em] cursor-text select-all overflow-hidden bg-contain bg-no-repeat align-top !text-transparent;

	&::before {
		@apply pointer-events-none absolute -left-4 top-0 select-none !text-transparent underline;
		content: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx";
	}

	&::selection {
		color: transparent;
	}
}

ul {
	@apply list-inside list-disc;
}

div.anchor {
	@apply pointer-events-none mt-[-15vh] block h-0 pt-[15vh];
}

@keyframes highlight-faq {
	0%,
	100% {
		@apply bg-transparent;
	}
	50% {
		@apply bg-background-highlight;
	}
}

input,
textarea,
select {
	@apply rounded border border-input-border bg-input-background p-2;

	&::placeholder {
		@apply text-input-placeholder;
	}

	&:invalid,
	&.invalid {
		@apply outline outline-4 outline-error-border;
	}

	&:disabled {
		@apply bg-input-disabled-background text-input-disabled-text;
	}
}

textarea {
	@apply h-32 w-full rounded;
}

.breadcrumbs {
	@apply -mb-1 -mt-3 ml-1 flex items-center gap-1 text-xs;

	& a {
		@apply flex gap-1 text-background-accent hover:text-background-highlight;
	}
}

table {
	@apply w-full overflow-hidden rounded-t;
	& td,
	& th {
		@apply px-4 py-2;
		&:first-child {
			@apply text-center font-bold;
		}
		&:not(:first-child) {
			@apply border-l border-table-border;
		}
	}
	& th {
		@apply bg-background-accent text-center font-bold;
	}

	& tr {
		&:hover {
			@apply !bg-background-highlight/50;
		}
		&:nth-child(even) {
			@apply bg-background-highlight/20;
		}
	}
}
