@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply overflow-y-scroll bg-background font-sans leading-5 text-text;
}

a:not(.button) {
	@apply text-link underline;
}

a:not(.button):focus,
a:not(.button):hover {
	@apply text-link-hover;
}

a:not(.button) *,
a:not(.button) *:before {
	@apply underline decoration-link;
}

a:not(.button):focus *,
a:not(.button):hover *,
a:not(.button):focus *:before,
a:not(.button):hover *:before {
	@apply decoration-link-hover;
}

.cont {
	@apply mx-auto w-full max-w-screen-xl p-4;
}

.row {
	@apply flex-wrap lg:flex;
}

.row > * {
	@apply w-full flex-shrink-0 flex-grow-0;
}

.row > .col-min {
	@apply lg:basis-0;
}

.row > .col-quarter {
	@apply lg:basis-[25%];
}

.row > .col-third {
	@apply lg:basis-[33%];
}

.row > .col-half {
	@apply lg:basis-[50%];
}

.row > .col-threequarters {
	@apply lg:basis-[75%];
}

.content {
	@apply rounded-4xl bg-background-content p-4;
}

.panel {
	@apply rounded-2xl bg-background-panel p-2;
}

.panel + .panel {
	@apply mt-6;
}

.panel-inner {
	@apply overflow-hidden rounded-lg px-4 pb-0.5;
}

span.card-id {
	@apply font-bold text-text-cardid;
}

span.rarity {
	@apply font-bold text-text-rarity;
}

h1,
h2 {
	@apply mb-4 mt-4 text-2xl font-bold uppercase tracking-widest text-text-header;
}

h3 {
	@apply m-0 mb-2 w-full rounded-2xl text-center text-3xl font-bold tracking-widest text-text-header;
}

h4 {
	@apply m-0 -mx-4 mb-2 text-center text-2xl font-bold tracking-widest text-text-header;
}

h5 {
	@apply mb-2 mt-4 text-xl font-bold text-text-header;
}

h5:first-child {
	@apply mt-0;
}

h6 {
	@apply mb-2 mt-4 text-lg font-bold text-text-header;
}

tr > th {
	@apply whitespace-nowrap;
}

.skill-icon {
	@apply relative inline-block h-[1.25em] cursor-text select-all overflow-hidden bg-contain bg-no-repeat align-top !text-transparent;
}

.skill-icon:before {
	@apply pointer-events-none absolute -left-4 top-0 select-none !text-transparent underline;
	content: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx";
}

.skill-icon::selection {
	color: transparent;
}

ul {
	@apply list-inside list-disc;
}

div.anchor {
	@apply pointer-events-none mt-[-15vh] block h-0 pt-[15vh];
}

@keyframes highlight-faq {
	0%,
	100% {
		@apply bg-transparent;
	}
	50% {
		@apply bg-background-highlight;
	}
}

input,
textarea,
select {
	@apply rounded border border-input-border bg-input-background p-2;
}

input::placeholder {
	@apply text-input-placeholder;
}

input:invalid,
input.invalid {
	@apply outline outline-4 outline-error-border;
}

input:disabled,
select:disabled {
	@apply bg-input-disabled-background text-input-disabled-text;
}

textarea {
	@apply mb-2 h-32 w-full rounded;
}
