@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-background text-white font-sans leading-5;
}

a {
    @apply text-accent-400 underline;
}

a:focus, a:hover {
    @apply text-accent-200;
}

a:not(.button) *, a:not(.button) *:before {
    @apply underline decoration-accent-400;
}

a:focus *, a:hover *, a:focus *:before, a:hover *:before {
    @apply decoration-accent-200;
}

.cont {
    @apply w-full max-w-screen-xl mx-auto p-4;
}

.row {
    @apply lg:flex flex-wrap;
}

.row > * {
    @apply flex-grow-0 flex-shrink-0 w-full;
}

.row > .col-min {
    @apply lg:basis-0;
}

.row > .col-quarter {
    @apply lg:basis-[25%];
}

.row > .col-third {
    @apply lg:basis-[33%];
}

.row > .col-half {
    @apply lg:basis-[50%];
}

.row > .col-threequarters {
    @apply lg:basis-[75%];
}

.content {
    @apply bg-primary-800 p-4 rounded-4xl;
}

.panel {
    @apply bg-primary-700 p-2 rounded-2xl;
}

.panel + .panel {
    @apply mt-6;
}

.panel-inner {
    @apply rounded-lg px-4 pb-1 overflow-hidden;
}

span.card-id {
    @apply text-primary-100 font-bold;
}

span.rarity {
    @apply text-accent-300 font-bold;
}

h1, h2 {
    @apply text-accent-400 font-bold uppercase tracking-widest text-2xl mt-4 mb-4;
}

h3 {
    @apply m-0 mb-4 py-1 w-full text-3xl text-accent-400 font-bold tracking-widest text-center bg-primary-500 rounded-2xl;
}

h4 {
    @apply m-0 mb-4 -mx-4 py-1 text-2xl text-accent-400 font-bold tracking-widest text-center bg-primary-500;
}

h5 {
    @apply text-accent-400 mt-4 mb-2 font-bold text-xl;
}

h5:first-child {
    @apply mt-0;
}

h6 {
    @apply text-accent-400 mt-4 mb-2 font-bold text-lg;
}

tr > th {
    @apply whitespace-nowrap;
}

.skill-icon {
    @apply h-[1.25em] bg-contain bg-no-repeat inline-block overflow-hidden align-top text-transparent cursor-text select-all relative;
}

.skill-icon:before {
    @apply absolute -left-4 top-0 select-none underline pointer-events-none;
    content: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
}

.skill-icon::selection { color: transparent; }

ul {
    @apply list-disc list-inside;
}

div.anchor {
    @apply block h-0 pt-[15vh] mt-[-15vh] pointer-events-none;
}

@keyframes highlight-faq {
    0%, 100% {
        @apply bg-transparent;
    }
    50% {
        @apply bg-primary-500;
    }
}

input, textarea, select {
    @apply bg-primary-900 border-primary-100 p-2;
}

textarea {
    @apply w-full h-32 mb-2 rounded;
}