span.redtext {
    color: var(--orange3);
}

span.bluetext {
    color: var(--blue1);
}

span.piece {
    width: 1.3em;
    height: 1.3em;
    background-size: cover;
    display: inline-block;
    vertical-align: top;
    margin-top: .125em;
    text-indent: 1000vw;
    overflow: hidden;
}

span.piece.smile {
    background-image: url("/images/card/piece_smile.png");
}

span.piece.pure {
    background-image: url("/images/card/piece_pure.png");
}

span.piece.cool {
    background-image: url("/images/card/piece_cool.png");
}

span.piece.all {
    background-image: url("/images/card/piece_all.png");
}

span.pieceno {
    font-weight: bold;
    white-space: nowrap;
}

span.pieceno:not(:last-child) {
    margin-right: 1em;
}

.attrreq span.pieceno:not(:last-child) {
    margin-right: .2em;
}

span.pieceno > span.piece + span {
    margin-left: .2em;
}

span.pieceno > span.piece.all + span {
    color: var(--all);
}

span.pieceno > span.piece.smile + span {
    color: var(--smile);
}

span.pieceno > span.piece.pure + span {
    color: var(--pure);
}

span.pieceno > span.piece.cool + span {
    color: var(--cool);
}

span.skill, span.ability, span.idolized {
    height: 1.55em;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
    text-indent: 1000vw;
    overflow: hidden;
}

span.skill {
    width: 4.52em;
}

span.skill.entry {
    background-image: url("/images/card/skill_entry.png");
}

span.skill.join {
    background-image: url("/images/card/skill_join.png");
}

span.skill.success {
    background-image: url("/images/card/skill_success.png");
}

span.skill.live {
    background-image: url("/images/card/skill_live.png");
}

span.skill.start {
    background-image: url("/images/card/skill_start.png");
}

span.skill.auto {
    background-image: url("/images/card/skill_auto.png");
}

span.skill.standby {
    background-image: url("/images/card/skill_standby.png");
}

span.skill.sp {
    width: 5.52em;
    background-image: url("/images/card/skill_sp.png");
}

span.skill.sp-end {
    width: .99em;
    background-image: url("/images/card/skill_sp_end.png");
    margin-left: 0.2em;
}

span.ability {
    width: 3.57em;
}

span.ability.rush {
    background-image: url("/images/card/ability_rush.png");
}

span.ability.live {
    background-image: url("/images/card/ability_live.png");
}

span.ability.or {
    position: absolute;
    background-image: url("/images/card/ability_or.png");
    margin-left: -0.45em;
}

span.star {
    width: 1.3em;
    height: 1.3em;
    background-size: cover;
    display: inline-block;
    vertical-align: top;
    margin-top: .1em;
    background-image: url("/images/card/star.png");
    text-indent: 1000vw;
    overflow: hidden;
}

span.idolized {
    height: 1.45em;
    width: 4em;
    background-image: url("/images/card/idolized.png");
}