<%- include("../partials/header", {"title": "How To Play", "styles": ["faq"]}); %>

<div class="content">
    <div class="panel">
        <div class="panel-inner">
            <h4>How To Play</h4>
            These pages are translations of the How To Play and FAQ on the official site, containing tutorials as well
            as details and clarifications for various rules and Skills (with some reorganisation and sometimes extra
            notes). If you are confused about a certain aspect of the game or you run into a situation it is unclear how
            exactly a Skill should be resolved, maybe your question is already answered here!<br><br>
            While official events will be played as described here, the official help pages state that you don't have to
            exactly follow what it says in casual play. The content of these pages describe how the game's designers
            interpret the rules, but if you talk it out with the other players and everyone agrees, they encourage you
            to experiment with slight changes, and see whether you can make some new discoveries that'll allow you to
            enjoy SIC even more ♪
        </div>
    </div>
    <div class="panel">
        <div class="panel-inner">
            <h4>General</h4>
            <ul>
                <li><a href="/faq/rules">Game Rules</a></li>
                <li><a href="/faq/general">General Frequently Asked Questions</a></li>
            </ul>
        </div>
    </div>
    <div class="panel">
        <div class="panel-inner">
            <h4>Per-Set FAQ</h4>
            <ul>
                <li><a href="/faq/LL01">LL01 Frequently Asked Questions</a></li>
                <li><a href="/faq/LL02">LL02 Frequently Asked Questions</a></li>
                <li><a href="/faq/LL03">LL03 Frequently Asked Questions</a></li>
                <li><a href="/faq/LL04">LL04 Frequently Asked Questions</a></li>
                <li><a href="/faq/LL05">LL05 Frequently Asked Questions</a></li>
            </ul>
        </div>
    </div>
</div>
<%- include("../partials/footer", {"jquery": false, "scripts": []}); %>